In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
df = pd.read_parquet('./fhv_tripdata_2019-01.parquet', engine='auto')

In [9]:
df

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008
...,...,...,...,...,...,...,...
23159059,B03157,2019-01-31 23:21:00,2019-01-31 23:28:52,NaN,265.0,NaN,B03157
23159060,B03157,2019-01-31 23:38:04,2019-01-31 23:45:43,NaN,265.0,NaN,B03157
23159061,B03157,2019-01-31 23:53:58,2019-02-01 00:25:04,NaN,265.0,NaN,B03157
23159062,B03157,2019-01-31 23:54:53,2019-02-01 00:00:14,NaN,265.0,NaN,B03157
23159063,B03164,2019-01-31 23:55:47,2019-02-01 00:24:29,NaN,265.0,NaN,B03164

In [10]:
df.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
print(pd.io.sql.get_schema(df, name='fhv_data', con=engine))

CREATE TABLE fhv_data (
	dispatching_base_num TEXT,
	pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	"dropOff_datetime" TIMESTAMP WITHOUT TIME ZONE,
	"PUlocationID" FLOAT(53),
	"DOlocationID" FLOAT(53),
	"SR_Flag" FLOAT(53),
	"Affiliated_base_number" TEXT
)